GHCR_OWNER=huring
API_PORT=8000
MCP_PORT=8001
API_TOKEN=change-me
MCP_API_TOKEN=change-me
DATABASE_URL=sqlite:////data/datalake.db
LOG_LEVEL=info
MYAIR_EMAIL=
MYAIR_PASSWORD=
MYAIR_API_URL=https://api.myair.resmed.eu
POCKETCASTS_EMAIL=
POCKETCASTS_PASSWORD=
